---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<h2>Static HTML</h2>
		<ul>
			<li><a href="/collected-public/wasm-static-html/a8e931832cc7dce187d7234237f6cfef13e9fa523ab4101d3cec7bfb66e905c1">Counter</a></li>
		</ul>
		<h2>Dynamic HTML</h2>
		<ul>
			<li><a href="/collected-public/wasm-dynamic-html/a8e931832cc7dce187d7234237f6cfef13e9fa523ab4101d3cec7bfb66e905c1">Interactive Counter</a></li>
		</ul>
		<h2>SVG</h2>
		<ul>
			<li><a href="/collected-public/wasm-svg/f4c08520f87489a1cc5070df5c90cd5bc4e581d992d79a7e34ba08e566738235">Black Square</a></li>
			<li><a href="/collected-public/wasm-svg/f4c08520f87489a1cc5070df5c90cd5bc4e581d992d79a7e34ba08e566738235?global.color_hex=0xdd5511ff">Orange Square</a></li>
		</ul>
	</body>
</html>
