---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Calculated.World</title>
  </head>
  <body>
    <main class="prose lg:prose-xl max-w-2xl mx-auto pt-16 pb-16">
      <h1>Calculated.World</h1>
	  <p>WebAssembly downloaded to run at the edge and in the browser. Made by <a href="https://icing.space/">Patrick Smith</a>.</p>
      <h2>Static HTML</h2>
      <ul>
        <li>
          <a
            href="/collected-public/wasm-static-html/a8e931832cc7dce187d7234237f6cfef13e9fa523ab4101d3cec7bfb66e905c1"
            >Counter</a
          >
        </li>
      </ul>
      <h2>Dynamic HTML</h2>
      <ul>
        <li>
          <a
            href="/collected-public/wasm-dynamic-html/a8e931832cc7dce187d7234237f6cfef13e9fa523ab4101d3cec7bfb66e905c1"
            >Interactive Counter</a
          >
        </li>
      </ul>
      <h2>SVG</h2>
      <a
        href="/collected-public/wasm-svg/4c3bed07c4ddd09af4726406fe17f82c69c0408f0a4a207c1e7485164b846411"
      >
        <figure>
          <img
            src="/collected-public/wasm-svg/4c3bed07c4ddd09af4726406fe17f82c69c0408f0a4a207c1e7485164b846411"
            alt="Black Square"
          />
          <figcaption>Black Square</figcaption>
        </figure>
      </a>
      <a
        href="/collected-public/wasm-svg/4c3bed07c4ddd09af4726406fe17f82c69c0408f0a4a207c1e7485164b846411?global.color_hex=0xdd7711ff"
      >
        <figure>
          <img
            src="/collected-public/wasm-svg/4c3bed07c4ddd09af4726406fe17f82c69c0408f0a4a207c1e7485164b846411?global.color_hex=0xdd7711ff"
            alt="Black Square"
          />
          <figcaption>Orange Square</figcaption>
        </figure>
      </a>
      <a
        href="/collected-public/wasm-svg/4c3bed07c4ddd09af4726406fe17f82c69c0408f0a4a207c1e7485164b846411?global.color_hex=0x2299eeff"
      >
        <figure>
          <img
            src="/collected-public/wasm-svg/4c3bed07c4ddd09af4726406fe17f82c69c0408f0a4a207c1e7485164b846411?global.color_hex=0x2299eeff"
            alt="Black Square"
          />
          <figcaption>Blue Square</figcaption>
        </figure>
      </a>
      <a
        href="/collected-public/wasm-svg/4c3bed07c4ddd09af4726406fe17f82c69c0408f0a4a207c1e7485164b846411?global.color_hex=0x2299ee77"
      >
        <figure>
          <img
            src="/collected-public/wasm-svg/4c3bed07c4ddd09af4726406fe17f82c69c0408f0a4a207c1e7485164b846411?global.color_hex=0x2299ee77"
            alt="Black Square"
          />
          <figcaption>Transparent Blue Square</figcaption>
        </figure>
      </a>
    </main>
  </body>
</html>
