---

---

<ul class="">
  <li><a href="/">Home</a></li>
  <li><a href="/why-webassembly">Why WebAssembly?</a></li>
  <li class="mt-4">
    <span class="italic">How to write:</span>
    <ul class="lg:list-disc lg:pl-6">
      <li><a href="/orb">Orb for Elixir</a></li>
    </ul>
  </li>
  <li class="mt-4">
    <span class="italic">How to use:</span>
    <ul class="lg:list-disc lg:pl-6">
      <li><a href="/custom-elements">Custom Elements</a></li>
      <li><a href="/lambda">Thyme for AWS Lambda</a></li>
    </ul>
  </li>
  <li class="mt-4">
    <span class="italic">Examples:</span>
    <ul class="lg:list-disc lg:pl-6">
      <li><a href="/rss">RSS</a></li>
      <li><a href="/podcast-feed">Podcast feed</a></li>
    </ul>
  </li>
</ul>
