<ul class="">
  <li><a href="/">Home</a></li>
  <li><a href="/why-webassembly">Why WebAssembly?</a></li>
  <li><a href="/orb">Orb for Elixir</a></li>
  <li><a href="/custom-elements">Custom Elements</a></li>
  <li><a href="/todo">Thyme for AWS Lambda</a></li>
  <li>
    <span class="italic">Examples:</span>
    <ul class="lg:list-disc lg:pl-6">
      <li><a href="/rss" aria-current="page">RSS</a></li>
    </ul>
  </li>
</ul>
