---
// import BaseHead from '../components/BaseHead.astro';
import PrimaryNavList from "../components/PrimaryNavList.astro";
// import { fixShikiDeno } from "../fix-shiki-deno";

// await fixShikiDeno();

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <script src="../custom-elements/wasm-html.js"></script>

    <style is:global>
      pre.shiki {
        white-space: pre-wrap;
      }
    </style>
  </head>
  <body>
    <div class="relative flex flex-col lg:flex-row lg:items-start">
      <nav
        class="lg:sticky top-0 p-3 lg:p-16 lg:pr-8 lg:max-w-max text-center lg:text-start lg:text-xl/9 border-b lg:border-b-0"
      >
        <div class="font-extrabold tracking-wide">Calculated.World</div>
        <PrimaryNavList />
      </nav>
      <main class="prose lg:prose-xl max-w-3xl mx-auto px-3 pt-16 pb-16">
        <slot />
      </main>
    </div>

    <footer
      role="contentinfo"
      class="prose max-w-3xl mx-auto lg:mx-16 px-3 pt-16 pb-16"
    >
      <p>© 2023 Royal Icing Pty Ltd</p>
      <p>
        <a href="https://github.com/cool-calm/calculated-world"
          >View source on GitHub</a
        >
      </p>
    </footer>
  </body>
</html>
